* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1684px;
    margin: 0 auto;
}

a,button {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

p {
    margin-bottom: 0;
    color: #0A0C13;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
}

.col, .col-auto {
    padding: 0;
}

.main__title {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    /* width: 676px; */
    width: 100%;
    max-width: 676px;
}

.text-red {
    color: #EE1C25;
}

/* .body {
    padding-top: 127px !important;
} */

.theme-apartment {
    padding-top: 88px;
}

.header {
    padding: 24px 0;
    /* background-color: #2E2E3A;
     */
    background: transparent;
    position: fixed;
    width: 100vw;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    z-index: 99999;
    transition: 0.5s;
}

.header--visible {
    top: 0;
}

.configurator-type-item{
    text-decoration: none;
}

.main {
    padding: 34px 0;
}

.header__btn {
    background-color: rgba(255, 255, 255, .23);
    padding: 8px 16px;
    border-radius: 12px;
    border-color: rgba(255, 255, 255, .24);
    font-size: 14px;    
    font-weight: 500;
    color: #FFFFFF;
    transition: 0.5s;
    outline: none;
}

.header__btn:hover {
    background-color: rgba(238, 28, 37, .23);
    border-color: rgba(255, 255, 255, .24);
}

.header__menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header__menu-text {
    white-space: nowrap;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
}

.header__menu-text:hover {
    color: #EE1C25;
}

.header__menu-item {
    padding: 0;
    margin-right: 40px;
}

.question {
    padding: 34px 0;
}

.question__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
}

.question__suptitle {
    font-size: 18px;
    color: #0A0C13;
    font-weight: 400;
}

.input-group {
    max-width: 448px;
    width: 448px;
    height: 56px;
    
}

.question__form-box {
    margin-top: 40px;
}

.form-control, .form-select {
    border-radius: 0px 12px 12px 0 !important;
    resize: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #E6E8EC;
}

.input-group-text {
    width: 56px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px 0 0 12px !important;
    background-color: #FCFCFD;
    border-color: #E6E8EC;
}

.input-group-text--1 {
    background-image: url(./images/Person.svg);
}

.input-group-text--2 {
    background-image: url(./images/Tel.svg);
}

.input-group-text--3 {
    background-image: url(./images/Shop.svg);
}

.input-group {
    margin-bottom: 24px;
}

.form__btn {
    width: 100%;
    outline: none;
    background-color: #EE1C25;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border: none;
    gap: 8px;
}

.form__btn-text {
    color: #FFFFFF;
}

.item__hidden {
    display: none;
}

.custom__checkbox {
    width: 16px;
    height: 16px;
    border:1px solid #0A0C13;
    border-radius: 4px;
}

.form-check {
    padding: 0;
}

.form__section {
    margin-top: 24px;
    width: 100%;
    margin: 24px auto 0 auto;
}

.checkbox:checked + .custom__checkbox {
    background-color: #EE1C25;
    background-image: url(./images/Gal.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-color: #EE1C25;
}

.col__form {
    max-width: 448px;
    margin-right: 40px;
}

.form__map {
    width: 100%;
    height: 554px;
}

.checkbox__text {
    font-size: 12px;
    font-weight: 400;
    color: #1F222C;
}

.col__checkbox {
    margin-right: 8px;
}

.footer {
    padding: 40px 0 24px 0;
    background-color: #2E2E3A;
}

.footer__items {
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
    margin-top: 40px;
}

.footer__title {
    font-size: 18px;
    color: #E6E8EC;
    font-weight: 500;
}

.footer__links {
    margin-top: 16px;
}

.footer__links-flex {
    display: flex;
    gap: 60px;
}

.footer__link {
    color: #B1B5C3;
    font-size: 16px;
    font-weight: 400;
    display: block;
    transition: 0.5s;
}

.footer__link:not(:first-of-type) {
    margin-top: 12px;
}

.footer__link-tel {
    color: #FFFFFF;
    font-size: 18px;
    transition: 0.5s;
    font-weight: 600;
}

.footer__images {
    margin-top: 20px;
    display: flex;
    gap: 16px;
}

.footer__link:hover,.footer__link-tel:hover {
    color: #EE1C25;
}

.footer__items {
    position: relative;
    padding-bottom: 41px;
}

.footer__items::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #B1B5C3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.footer__links-flex-foot {
    display: flex;
    gap: 40px;
}

.footer__link--foot {
    color: #B1B5C3;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.footer__link--foot:hover {
    color: #EE1C25;
}

.form-floating>label {
    left: 56px;
    z-index: 20;
}

.about {
    padding: 40px 0 30px;
}

.about__title {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.test {
    width: 600px;
}

.about__items {
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    justify-items: center;
    gap: 34px 94px;
    margin-top: 34px;
}

.about__item-title {
    font-size: 46px;
    font-weight: 600;
    text-align: left;
}

.about__item-text {
    color: #777E90;
    font-size: 32px;
    font-weight: 500;
    margin-top: 8px;
    text-align: left;
}

.about__btn {
    border-radius: 12px;
    background-color: #1E1E1EE0;
    border: 1px solid #000000;
    padding: 8px 16px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    width: 285px;
    margin-top: 43px;
    transition: 0.5s;
}

/* .about__btn:hover {
    color: #EE1C25;
} */

.links {
    padding: 40px 0 102px;
}

.links__inner {
    display: flex;
    justify-content: space-between;
}

.links__link {
    color: #777E90;
    font-size: 36px;
    text-transform: uppercase;
    padding: 0px 24px;
    border-radius: 29px;
    transition: 0.5s;
}

.links__link:hover {
    background-color: #0F0F0FBF;
    box-shadow: 0px 8px 16px -8px #0F0F0F33;
    color: #FFFFFF;
}

.assortment__inner {
    background-color: #F5F5F5;
    padding: 129px 125px 42px 120px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    position: relative;
}

.assortment__title::before {
    position: absolute;
    content: ' ';
    background-image: url(./images/titleBack.svg);
    background-position: center center;
    width: 90px;
    height: 90px;
    left: 85px;
    top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.assortment__items {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    grid-auto-rows: 645px;
    gap: 30px 47px;
    margin-top: 104px;
}

.assortment__item {
    background: #FFFFFF99;
    position: relative;
    padding: 24px 0 16px;
    transition: 0.5s;
    border-radius: 16px;

}

.assortment__item--img {
    background-image: url(./images/asortBack.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.assortment__item-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 8px 24px;
    background-color: #1E1E1EB0;
    box-shadow: 0px 8px 16px -8px #0F0F0F33;
    border: 3px solid #B1B5C36B;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 29px;
    white-space: nowrap;
}

.assortment__item-text {
    color: #777E90;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
}

.assortment__item-title {
    color: #1F222C;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 4px;
}

.assortment__item-price {
    color: #F40D29;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
}

.assortment__item:hover {
    box-shadow: 0px 12px 32px 0px #0000001F;
    background-color: #FFFFFF;
}

.assortment__item-block {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 16px;
    top: 16px;
    box-shadow: 0px 4px 8px 0px #0000001F;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0;
    transition: 0.5s;
}

.assortment__item:hover  .assortment__item-block {
    opacity: 1;
}

.assortment__item-block::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url(./images/HEART.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.assortment__item--img-blue {
    position: relative;
}

.assortment__item--img-red::before {
    width: 100%;
    height: 595px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    background-color: #fc000027;
    

}

.assortment__item--img-yellow::before {
    width: 100%;
    height: 595px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    background-color: #fbff0027;
}

.assortment__item--img-blue::before {
    width: 100%;
    height: 595px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    background-color: #00a2ff27;
}

.assortment__item--img-green::before {
    width: 100%;
    height: 595px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    background-color: #1eff001f;
}

.application__inner {
    padding-top: 71px;
    gap: 221px;
}

.application {
    background-image: url(./images/FormBack.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.application::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

.application__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    
}

.application__title {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 500;
    position: relative;
    z-index: 3;
    text-align: center;
}

.application__text {
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 23px;
}

.application__form {
    width: 100%;
    display: block;
    padding: 40px;
    height: 100%;
    background-color: #000000B2;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 3;
}

.application__form-title {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
}

.application__input-title {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.application__input {
    width: 100%;
    height: 50px;
    padding: 16px;
    border-radius: 10px;
    background-color: #242222;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 8px;
}

.application__input::placeholder {
    color: #FFFFFF;
}

.application__input-group {
    width: 100%;
}

.application__form-box {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    align-items: center;
}

.application__checkbox {
    background-color: #FFFFFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.application__form-box--noflex {
    margin-top: 24px;
    padding: 9px 0 18px;
}

.form__section-apl {
    margin-top: 8px;
    padding-left: 13px ;
}

.application__textarea {
    height: 100px;
    resize: none;
}

.application__checkbox--big {
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
}

.application__form-btn {
    width: 235px;
    height: 72px;
    background-color: #EE1C25;
    color: #FFFFFF;
    padding: 24px 32px;
    border-radius: 16px;
    border: none;
    outline: none;
}

.application__input-suptext {
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;

}

.link__blue {
    color: #1673FE;
}

.works {
    padding: 71px 0 61px;
}

.works__title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide {
    width: 401px;
    height: 406px;
}

.mySwiper {
    margin-top: 107px;
}

.works__inner {
    position: relative;
}

.work__btns {
    display: flex;
    position: absolute;
    right: 79px;
    top: 30px;
    gap: 13px;
}

.swiper-button-prev {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    border:1px solid #B1B5C3;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-button-next {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    border:1px solid #B1B5C3;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-button-prev:hover,.swiper-button-next:hover {
    border-color: #EE1C25;
}

.swiper-button-next::after {
    content: "\e903";
    font-family: 'icomoon' !important;
    color: #B1B5C3;
    position: absolute;
    transition: 0.5s;
    font-size: 24px;
}

.swiper-button-next:hover::after {
    color: #EE1C25;
}

.swiper-button-prev::after {
    content: "\e904";
    font-family: 'icomoon' !important;
    color: #B1B5C3;
    position: absolute;
    transition: 0.5s;
    font-size: 24px;
}

.swiper-button-prev:hover::after {
    color: #EE1C25;
}

.header__flex {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.col--img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head {
    position: relative;
}

.head__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 144px 40px 40px 40px;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.head__inner {
    padding: 40px 0 128px;
}

.head__swiper-slide {
    height: 800px;
}

.mySwiper-head::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.head__swiper-pagination {
    bottom: 40px !important;
    background-color: #FFFFFF29;
    padding: 0px 12px;
    border-radius: 25px;
    width: auto !important;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
    height: 20px;
    border-radius: 25px !important;
    z-index: 4;
}

.swiper-pagination-bullet {
    position: relative;
    transform: translateY(-100%);
    width: 24px;
    height: 4px;
    border-radius: 16px;
    background-color: #ffffffcc;
    z-index: 4;
    opacity: 1;
    transition: 3s;
}

.swiper-pagination-bullet-active {
    width: 80px;
    background-color: #EE1C25;
    
}

.head__text {
    font-size: 24px;
    font-weight: 600;
    color: #F6F4F4;
}

.head__title {
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 8px;
}

.head__suptext {
    font-size: 24px;
    color: #B1B5C3;
    margin-top: 12px;
}

.head__btn {
    margin-top: 64px;
    outline: none;
    border: none;
    padding: 16px 32px;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #EE1C25;
}

.main {
    padding: 128px 0 60px;
}

.main__inner {
    position: relative;
    display: flex;
    gap: 40px;
}

.main__inner::before {
    content: "";
    width: 106px;
    height: 106px;
    background-image: url(./images/titleBack.svg);
    position: absolute;
    top: -50px;
    left: -50px;
}

.main__suptext {
    font-size: 24px;
    font-weight: 400;
}

.main__title {
    font-size: 36px;
    color: #0A0C13;
    font-weight: 500;
    margin-top: 8px;
}

.main__selects {
    padding: 4px;
    background-color: #F5F5F5;
    width: 249px;
    display: flex;
    border-radius: 12px;
    margin-top: 40px;
}

.main__select {
    padding: 8px 24px;
    color: #0A0C13;
    border-radius: 12px;
    display: block;
    font-size: 16px;
}

.main__select--active {
    background-color: #EE1C25;
    color: #fff;
}

.main__text {
    font-size: 16px;
    color: #0A0C13;
}

.main__text-1 {
    margin-top: 40px;
}

.main__colors {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.main__color {
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.main__color-active {
    border-color: #EE1C25;
}

.main__doors {
    margin-top: 16px;
    display: flex;
    gap: 16px;
 
}

.main__door {
    border: 1px solid transparent;
    cursor: pointer;
}

.main__door-active {
    border-color: #EE1C25;
}

.main__text-2 {
    margin-top: 36px;
}

.main__count {
    font-size: 24px;
    color: #0A0C13;
    margin-top: 32px;
}

.main__btns {
    display: flex;
    gap: 12px;
    width: 480px;
    margin-top: 32px;
}

.main__btn {
    width: 100%;
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.main__btn-count {
    background-color: #EE1C25;
    color: #FFFFFF;
    
}

.main__btn-catalog {
    white-space: nowrap;
}

.main__right {
    background-color: #F5F5F5;
    padding: 40px 14px;
    border-radius: 24px;
}

.main__right-inner {
    display: flex;
    gap: 40px;
}

.main__door-title {
    font-size: 16px;
    text-align: center;
    color: #0A0C13;
    margin-top: 8px;
}

.main__door-box {
    position: relative;
}

.modal-box {
    position: absolute;
    left: 61px;
    top: 340px;
    z-index: 55;
    
}

.modal-window {
    padding: 12px;
    border-radius: 12px;
    background-color: #000000ab;
    border: 1px solid;
    border-image-source: linear-gradient(119.37deg, rgba(255, 255, 255, 0.8) 31.99%, rgba(153, 153, 153, 0) 100%);    
    position: absolute;
    width: 164px;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.modal-box:hover .modal-window {
    opacity: 1;
}

.modal__text {
    color: #FFFFFF;
    font-size: 14px;
}

.modal__text:not(:first-of-type) {
    margin-top: 12px;
}