* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

p {
    margin-bottom: 0;
    color: #0A0C13;
}

.main__title {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    width: 676px;
}

.text-red {
    color: #EE1C25;
}

.body {

}

.header {
    padding: 24px 0;
    background-color: #FFFFFF;
    position: relative;
}

.configurator-type-item{
    text-decoration: none;
}

.main {
    padding: 34px 0;
}

.header__btn {
    background-color: rgba(0, 0, 0, .23);
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .24);
    font-size: 14px;    
    font-weight: 500;
    color: #0A0C13;
}

.header__menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header__menu-text{
    white-space: nowrap;
    text-transform: uppercase;
}

.header__menu-item {
    padding: 0;
    margin-right: 40px;
}

.question {
    padding: 34px 0;
}

.question__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
}

.question__suptitle {
    font-size: 18px;
    color: #0A0C13;
    font-weight: 400;
}

.input-group {
    max-width: 448px;
    width: 448px;
    height: 56px;
    
}

.question__form-box {
    margin-top: 40px;
}

.form-control, .form-select {
    border-radius: 0px 12px 12px 0 !important;
    resize: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #E6E8EC;
}

.input-group-text {
    width: 56px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px 0 0 12px !important;
    background-color: #FCFCFD;
    border-color: #E6E8EC;
}

.input-group-text--1 {
    background-image: url(./images/Person.svg);
}

.input-group-text--2 {
    background-image: url(./images/Tel.svg);
}

.form-floating>label {
    left: 56px;
    z-index: 20;
}

.input-group-text--3 {
    background-image: url(./images/Shop.svg);
}

.input-group {
    margin-bottom: 24px;
}

.form__btn {
    width: 100%;
    outline: none;
    background-color: #EE1C25;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border: none;
    gap: 8px;
}

.form__btn-text {
    color: #FFFFFF;
}